<% box(:special, 'project-header') do |box| %>
  <% box.title = "Showing notifier" %>
  <% box.content = capture do %>
    <% form_for @notifies, :url => notify_path(@notifies), :html => { :class => "form" } do |f| %>
      <h2>Notifier type: <%=h @notifies.class.name %></h2>
      <hr />
      <ul class="media-list">
        <li class="media-item status-form last">
          <p>http://<%= f.text_field :domain, :size => 10 %>.campfirenow.com</p>
        </li>
        <li>
          <p>
            <%= f.label :login %>
            <%= f.text_field :login %>
          </p>
          <p>
            <%= f.label :password %>
            <%= f.text_field :password %>
          </p>
          <p>
            <%= f.label "Room name" %>
            <%= f.text_field :room %>
          </p>

          <!-- todo: get a list of rooms -->
          <p class="btns">
            <%= update_button %>
          </p>
        </li>
      </ul>

    <% end %>
    Oh, hai.
  <% end %>
<% end %>


<% box(:sidebar, "tools") do |sbox| %>
  <% sbox.title = "Projects used by this notifier" -%>
  <% sbox.content = capture do %>
    <% projects, others = current_user.projects.partition { |p| @notifies.projects.include?(p) } %>
    <ul>
    <% projects.each do |project| %>
      <li>
        <% tendril = project.tendrils.select { |t| t.notifies == @notifies }[0] %>
        <% form_for tendril, { :url => tendril_path(tendril) }, :html => { :method => :delete } do |f| %>
          <%= f.hidden_field :project_id,    :value => project.id %>
          <%= f.hidden_field :notifies_type, :value => 'Campfire' %>
          <%= f.hidden_field :notifies_id,   :value => @notifies.id %>
          <a href="#" onclick="$(this).up('form').submit();return false"><%=h project.name %></a>
        <% end %>
      </li>
    <% end %>
    </ul>
    <h3>Use this notifier on more projects</h3>
    <ul>
    <% others.each do |project| %>
      <li>
        <% form_for Tendril.new do |f| %>
          <%= f.hidden_field :project_id, :value => project.id %>
          <%= f.hidden_field :notifies_type, :value => 'Campfire' %>
          <%= f.hidden_field :notifies_id,   :value => @notifies.id %>
          <a href="#" onclick="$(this).up('form').submit();return false"><%=h project.name %></a>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>
<% end %>
