<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>XTT<%= @project ? " - #{h(@project.name)}" : '' %></title>
	<%= javascript_include_tag 'prototype', 'cookie', 'time', :cache => 'main' %>
	<%= javascript_include_tag 'showcase', 'control.tabs.js', 'ipselect.js', :cache => 'components'  %>
	<%= javascript_include_tag 'application' %>

	<%= yield :head %>
	<script type="text/javascript" charset="utf-8">
	 document.observe('dom:loaded', function() {
	   <%= yield :dom_loaded %>
	 })
	</script>
	<%= stylesheet_link_tag 'screen' %>
	<%= stylesheet_link_tag 'showcase', 'ipselect' %>
	<!--[if lt IE 7]>
	  <%= stylesheet_link_tag 'fail' %>
	  <%= javascript_include_tag 'morefail' %>
	<![endif]-->
</head>
<body>
  <!-- header -->
  <div id="header">
    <div id="header-cnt">
      <h1><a href="/"><%= image_tag 'xtt-logo.png', :id => 'logo' %></a></h1>
    </div>
    <div id="header-nav">
      <ul class="clearfix">
        <li><%= link_to 'Overview', root_path %></li>
      </ul>
    </div>
    <div id="header-meta">
      <% if logged_in? %>
      Signed in as <%= link_to h(current_user.login), edit_user_path(current_user) %> 
      <%= link_to 'Help', helps_path %>
      <%= link_to 'Sign Out', logout_path %>
      <% end %>
    </div>
  </div>
  <!-- /header -->
  <!-- wrapper -->
  <div id="wrapper">
    <!-- contents -->
    <div id="content" class="clearfix">
      <%= yield :fullscreen_box %>
      <!-- main -->
      <div id="main">
        <%= display_flash :notice %>
        <%= yield :special_box %>
        <%= yield %>
      </div>
      <!-- /main -->
    
      <!-- sidebar -->
      <div id="sidebar">
        <%= yield :sidebar %>    
      </div>
      <!-- /sidebar -->
    
    </div>
    <!-- /contents -->
  </div>
  <!-- /wrapper -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3465274-3");
pageTracker._initData();
pageTracker._trackPageview();
</script>
  
</body>
</html>
