<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>XTT</title>
	<%= stylesheet_link_tag 'screen' %>
	<%= javascript_include_tag 'prototype', 'control.tabs.js' %>
	<script type="text/javascript" charset="utf-8">
	 document.observe('dom:loaded', function() {
	   <%= yield :dom_loaded %>
	 });
	</script>
</head>
<body>
  <!-- header -->
  <div id="header">
    <div id="header-cnt">
      <h1><a href="/"><%= image_tag 'xtt-logo.png' %></a></h1>
    </div>
    <div id="header-nav">
      <ul class="clearfix">
      </ul>
    </div>
  </div>
  <!-- /header -->
  <!-- wrapper -->
  <div id="wrapper">
    <!-- contents -->
    <div id="content" class="clearfix">
      <!-- main -->
      <div id="main">
        <%= display_flash :notice %>
        <%= yield %>
      </div>
      <!-- /main -->
    
      <!-- sidebar -->
      <div id="sidebar">
        <%= yield :sidebar %>    
      </div>
      <!-- /sidebar -->
    
    </div>
    <!-- /contents -->
  </div>
  <!-- /wrapper -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3465274-3");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
